<h1>Dashboard</h1>
<div>
    <canvas tc-chartjs-bar chart-data="totalPorMinerios_dados" chart-options="totalPorMinerios_options">
    </canvas>
</div>  
<div class="row mt-5 d-flex justify-content-center">
    <div class="col-10 bg-white rounded shadow-sm">
        <table class="table">
            <thead>
                <th>Minério</th>
                <th>Preço por grama (R$)</th>
            </thead>
            <tbody>
                <tr ng-repeat="m in minerios">
                    <td>{{m.nome}}</td>
                    <td>{{m.valor_grama}}</td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <canvas tc-chartjs-doughnut chart-data="veiculosCirculacao_dados" chart-options="veiculosCirculacao_options">
        </canvas> 
    </div>    
</div>
